[Desktop Entry]
Type=Application
Name=Waywallen
GenericName=Wallpaper Manager for Linux
Comment=Seletor de wallpaper (renderizado pelo Caelestia no Hyprland)
Exec=waywallen-ui
Icon=org.waywallen.waywallen
Terminal=false
Categories=Graphics;Qt;
Keywords=wallpaper;pipewire;vulkan;waywallen;
StartupNotify=true
StartupWMClass=waywallen
